header {
  min-height:var(--mp-xl);
  background: var(--mid-light);
}

.skip-link {
    background: var(--bright);
    color: var(--dark);
    font-weight: 700;
    padding:var(--mp-mid);
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s;
  }
  
  .skip-link:focus {
    transform: translateY(0%);
  }

  .skip-link:focus-within {
    transform: translateY(0%);
}  

/* .profile-cont {

} */